/* li {
    list-style-type: none;
}

ul {
    padding-left: 0px;
} */

/* Navegação */

.navigation > li {
    height: 30px;
    display: flex;
    align-items: center;
}

.navigation > li, .publication button {
    color: rgb(15, 20, 25);
    /* border-radius: 15px; */
}

.navigation a {
    color: rgb(15, 20, 25);
    vertical-align: super;
    padding-left: 10px;
}

.bgColor:hover, .publication button:hover {
    background-color: rgba(15, 25, 20, 0.1);
    color: rgb(15, 20, 25);
}

.bgColor:hover {
    max-width: max-content;
}

.bgColor {
    text-decoration: none;
}

/* img {
    border-radius: 50%;
} */

/* Estatísticas */
.statistic {
    padding-left: 20px;
}

.infoUser, .tzeet, .statistic a{
    color: rgb(83, 100, 113);
}

.content, .nome, .statistic b{
    color: rgb(15, 20, 25);  
}

.statistic ul {
    display: flex;
}

.statistic li {
    padding-right: 10px;
}

.statistic li:hover {
    text-decoration: underline;
}

/* Ações */

.action a {
    color: rgb(83, 100, 113);
    border-radius: 15px;
    text-decoration: none;
}

.action a:hover {
    text-decoration: underline;
}

.action [href*="Reply"] > i:hover, .action [href*="Share"] > i:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}

.action [href*="Retzeet"] > i:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}

.action [href*="Like"]:hover {
    color: rgba(249, 24, 128, 1);
}

.action [href*="Like"] > i:hover, .twiter:hover {
    background-color: rgba(249, 24, 128, 0.1);
}

.fundo {
    background-color: rgb(239, 243, 244) !important;
}

.colorLink {
    color: rgb(15, 20, 25);
}

.colorBlue:hover {
    background-color: rgb(29, 155, 240);
}

/* que magia negra é essa? https://stackoverflow.com/a/18368720 */
[contentEditable=true]:empty:not(:focus)::before {
    content: attr(placeholder);
} 
